<h2>General Guild Info</h2>

<div class="card text-white bg-dark mb-3">
  <div class="card-header">
    <h3 class="card-title">Mythic Core Raid Nights</h3>
  </div>
  <div class="card-body">
    <p>Wednesday: 7:00 PM - 10:00 PM (ST)</p>
    <p>Thursday: 7:00 PM - 10:00 PM (ST)</p>
  </div>
</div>

<div class="card text-white bg-dark mb-3">
  <div class="card-header">
    <h3 class="card-title">Optional Farm Night</h3>
  </div>
  <div class="card-body">
    <p>Tuesday: 7:00 PM - 10:00 PM (ST)</p>
  </div>
</div>
